@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #333;
  color: #fff;
  width: 100vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: aqua;
  margin-top: 5px;
  margin-bottom: 2em;
}

header {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  flex-wrap: wrap;
}

.brand {
  margin-top: -7px;
}

.brand span {
  color: aqua;
}

h1 {
  font-size: 2em;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menu a {
  color: #fffefe;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  display: block;
}

.menu li {
  margin-left: 0;
  list-style: none;
}

.menu li a:hover,
.menu li a.active {
  background-color: aqua;
  color: #070707;
  border-radius: 10px;
}

/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
  .menu {
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
  }

  .menu li {
    margin-left: 20px;
  }
}

.carousel-img {
  width: 100%;
  height: auto; /* Altura automática para mantener la proporción */
  object-fit: cover; /* Ajusta la imagen para que cubra completamente el área del contenedor */
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad del texto */
  padding: 10px;
  border-radius: 10px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer .footer-content h2,
.footer .footer-content h5 {
  margin: 0;
}

.footer .social-networks {
  margin-top: 10px;
}

.footer .social-networks a {
  margin: 0 10px;
  color: aqua; /* Cambiar el color de los iconos */
  transition: color 0.3s ease;
  text-decoration: none;
}

.footer .social-networks a:hover {
  color: #f8f6f2; /* Color al pasar el cursor por encima */
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 767px) {
  .navbar {
    flex-direction: column;
  }

  .carousel-caption {
    font-size: 0.9em; /* Ajuste de tamaño de fuente para dispositivos móviles */
  }

  .menu {
    flex-direction: column;
    align-items: center;
  }

  .menu li {
    margin-left: 0;
  }

  h1 {
    font-size: 1.5em; /* Ajuste de tamaño de fuente para dispositivos móviles */
  }
}
