@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafbfc;
  width: 100vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}
.divider {
  height: 4px;
  width: 60px;
  background-color: aqua;
  margin-top: 5px;
  margin-bottom: 2em;
}

.brand {
  margin-top: -7px;
}

.brand span {
  color: aqua;
}

h1 {
  font-size: 3em;
}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.menu a {
  color: #fffefe;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.menu li {
  margin-left: 20px;
  list-style: none;
}

.menu li a:hover,
.menu li a.active {
  background-color: aqua;
  color: #070707;
  border-radius: 10px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  padding: 20px;
}

.info-content {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedores {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.contenedor1,
.contenedor2,
.contenedor3 {
  display: flex;
  flex-direction: column;
}

.contenedor1 img,
.contenedor2 img,
.contenedor3 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
  margin-bottom: 10px; /* Espacio entre las imágenes */
}

.contenedor1 img:hover,
.contenedor2 img:hover,
.contenedor3 img:hover {
  transform: scale(2);
  border: 7px solid #333 /* Borde de la imagen para resaltar */
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer .footer-content h2,
.footer .footer-content h5 {
  margin: 0;
}

.footer .social-networks {
  margin-top: 10px;
}

.footer .social-networks a {
  margin: 0 10px;
  color:aqua; /* Cambiar el color de los iconos */
  transition: color 0.3s ease;
  text-decoration: none;
}

.footer .social-networks a:hover {
  color: #f8f6f2; /* Color al pasar el cursor por encima */
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  
  .menu {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  
  .menu li {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2em;
  }
  
  .main {
    padding: 10px;
  }
  
  .info-content {
    padding: 10px;
  }
  
  .contenedores {
    grid-template-columns: 1fr;
  }
}
